.mainContainer {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titleAddSlider {
    font-size: 30px;
    font-weight: 700;
}

.mainForm {
    padding-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.judulSliderForm {
    margin-bottom: 15px;
}

#inputTitleSlider {
    padding: 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
}

.gambarSliderForm {
    margin-bottom: 15px;
}

#inputGambarSlider {
    padding-top: 10px;
    width: 100%;
    margin-top: 3px;
}

.figurePreview {
    width: 40%;
}

.btnAll {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#btnSubmitSlider {
    background-color: rgb(52, 118, 241);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#btnKembaliSlider {
    background-color: rgb(76, 76, 77);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}