.profile {
    display: flex;
}

.profileContainer {
    flex: 6;
}

.profileMain {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profileHeader {
    padding-bottom: 20px;
}

.profileTitle {
    font-weight: 700;
    font-size: 30px;
}

.profileData {
    padding-top: 20px;
    margin-bottom: 20px;
}

.tambahBtnProfile {
    padding: 10px;
    background-color: rgb(52, 118, 241);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.profileSearch {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#profileInputSearch {
    width: 200px;
    justify-content: center;
    align-items: center;
    height: 25px;
    outline: none;
}

.profileDataList {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

.profileBtnAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profileTable {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid rgb(160, 158, 158);
}

th {
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    background-color: whitesmoke;
    padding-top: 10px;
    font-size: 17px;
}



.btnUbahProfile {
    padding: 5px;
    background-color: rgb(255, 213, 24);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 3px;
}

.btnHapusProfile {
    padding: 5px;
    background-color: red;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: 3px;
}